*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #19494d;
}

.header-bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: #090b1b9a;
  color: white;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex; /* Create a flex container */
  justify-content: center; /* Horizontally center the grid */
  align-items: center; /* Vertically center the grid */
  height: 75vh; /* Make the container take up the full viewport height */
}

.calc-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border: 1px solid #19494d;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: -1/1;
  background-color: #090b1b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-res {
  color: whitesmoke;
  font-size: 1.5rem;
}
.output .curr-res {
  color: white;
  font-size: 2.5rem;
}

.calc-grid > button {
  font-size: 2rem;
  cursor: pointer;

  outline: none;
  background-color: #19494d;
}
.calc-grid > button:hover,
.calc-grid > button:focus {
  background-color: #617b83;
}

.footer-bg {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  color: whitesmoke;
}
